body {
    background-color: whitesmoke;
}

h1 {
    color: rgb(49, 47, 47);
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-display: bolder;
}

h3 {
    color: rgb(49, 47, 47);
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-display: bold;
}

#startQuiz {
    background: indigo;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding-block: 2px;
    font-display: bold;
    position: absolute;
    left: 450px;
    margin-top: 40px;
}

#start {
    align-content: center;
    position: relative;
}

#question, #answer {
    font-size: 30px;
    font-display: bold;
    background-color: whitesmoke;
    color: rgb(49, 47, 47);
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#timer {
  
    font-size: 20px;
    font-display: bold;
    background-color: lightgray;
    color: rgb(49, 47, 47);
    padding: 10px;
    margin-bottom: 30px;
}

#A, #B, #C, #D {
    background-color: indigo;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    color: ivory;
    font-display: bold;
    padding-block-end: 1px;
    padding-left: 10px;
    width: auto;
}

#resultContainer {
    padding-top: 10px;
    font-size: x-large;
    color: rgb(49, 47, 47);
}

#submit {
    background: indigo;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding-block: 2px;
    font-display: bold;
    left: 450px;
    margin-top: 40px;
}
#again{
    background: indigo;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding-block: 2px;
    font-display: bold;
    margin-top: 40px;

}

#High-Score {
    margin-left: 0px;
    font-display: bold;
}

#counter1 {
    margin-left: 1600px;
    font-display: bold;
}

@media screen and (max-width: 1024px) {
    #submit {
        left: 250;
    }
    .container {
        width: 800;
    }
    #A, #B, #C, #D {
        width: 400px;
    }
    #counter1 {
        margin-left: 700px;
    }
    #startQuiz {
        left: 340px;
    }
}

@media screen and (max-width: 786px) {
    #submit {
        left: 250;
    }
    .container {
        width: 600;
    }
    #A, #B, #C, #D {
        width: 400px;
    }
    #counter1 {
        margin-left: 500px;
    }
    #startQuiz {
        left: 250px;
    }

    #timer{
       
        padding: 10px;
        margin-bottom: 20px;
    
    }
}

@media screen and (max-width: 375px) {
    #submit {
        left: 150;
    }
    .container {
        width: 300;
    }
    #A, #B, #C, #D {
        width: auto;
    }
    #counter1 {
        margin-left: 300px;
    }
    #startQuiz {
        left: 90px;
    }

    #timer{
       
        padding: 2px;
    
    
    }
}